version: "3.8"

x-backend-env: &default-backend-env
  SPRING_PROFILES_ACTIVE: ${SPRING_PROFILES_ACTIVE}
  SPRING_DATASOURCE_URL: ${SPRING_DATASOURCE_URL}
  SPRING_DATASOURCE_USERNAME: ${SPRING_DATASOURCE_USERNAME}
  SPRING_DATASOURCE_PASSWORD: ${SPRING_DATASOURCE_PASSWORD}
  SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:9092
  JWT_ACCESS_SECRET: ${JWT_ACCESS_SECRET}
  JWT_REFRESH_SECRET: ${JWT_REFRESH_SECRET}
  DISCODEIT_ADMIN_NAME: ${DISCODEIT_ADMIN_NAME}
  DISCODEIT_ADMIN_PASSWORD: ${DISCODEIT_ADMIN_PASSWORD}
  DISCODEIT_ADMIN_EMAIL: ${DISCODEIT_ADMIN_EMAIL}
  REDIS_HOST: ${REDIS_HOST}
  REDIS_PORT: ${REDIS_PORT}

services:
  reverse-proxy:
    image: nginx:1.27-alpine
    container_name: reverse-proxy
    ports:
      - "3000:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - ./src/main/resources/static:/usr/share/nginx/html:ro
    depends_on:
      - backend-1
      - backend-2
      - backend-3
    networks:
      - backend-net

  backend-1:
    build:
      context: .
      dockerfile: Dockerfile
    image: my-backend:latest
    container_name: backend-1
    environment:
      <<: *default-backend-env
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started
      kafka:
        condition: service_started
    networks:
      - backend-net

  backend-2:
    image: my-backend:latest
    container_name: backend-2
    environment:
      <<: *default-backend-env
    depends_on:
      - backend-1
    networks:
      - backend-net

  backend-3:
    image: my-backend:latest
    container_name: backend-3
    environment:
      <<: *default-backend-env
    depends_on:
      - backend-1
    networks:
      - backend-net

  db:
    image: postgres:15-alpine
    container_name: postgres
    ports:
      - "54321:5432"
    volumes:
      - db-data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    networks:
      - backend-net
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}" ]
      interval: 5s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7-alpine
    container_name: redis
    volumes:
      - redis-data:/data
    networks:
      - backend-net

  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    networks:
      - backend-net

  kafka:
    image: confluentinc/cp-kafka:7.5.0
    container_name: kafka
    depends_on:
      - zookeeper
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    networks:
      - backend-net

volumes:
  db-data:
  redis-data:

networks:
  backend-net:
    driver: bridge
