spring:
  application:
    name: discodeit

  profiles:
    active: dev

  servlet:
    multipart:
      maxFileSize: 10MB # 파일 하나의 최대 크기
      maxRequestSize: 30MB  # 한 번에 최대 업로드 가능 용량

  datasource:
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: false
    generate-ddl: false
    database-platform: org.hibernate.dialect.PostgreSQLDialect

  boot:
    admin:
      client:
        instance:
          name: discodeit

  aop:
    proxy-target-class: true

  cache:
    type: redis
    cache-names: users, channelsByUser, notificationsByUser
    caffeine:
      spec: >
        maximumSize=100,
        expireAfterAccess=600s,
        recordStats
    redis:
      enable-statistics: true
  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}


  kafka:
    bootstrap-servers: localhost:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer
    consumer:
      group-id: discodeit-group
      auto-offset-reset: latest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer

management:
  endpoints:
    web:
      exposure:
        include: health, info, metrics, loggers, prometheus, caches
      base-path: /actuator
  endpoint:
    health:
      show-details: always
      show-components: always
  observations:
    annotations:
      enabled: true

info:
  name: Discodeit
  description: 실시간 커뮤니케이션 시스템
  version: 1.7.0
  encoding: UTF-8
  java:
    version: 17
  spring-boot:
    version: 3.4.4
  config:
    datasource:
      url: ${spring.datasource.url}
      driver-class-name: ${spring.datasource.driver-class-name}
    jpa:
      ddl-auto: ${spring.jpa.hibernate.ddl-auto}
    storage:
      type: ${discodeit.storage.type}
      path: ${discodeit.storage.local.root-path}
    multipart:
      max-file-size: ${spring.servlet.multipart.maxFileSize}
      max-request-size: ${spring.servlet.multipart.maxRequestSize}

discodeit:
  storage:
    type: ${STORAGE_TYPE:local}
    local:
      root-path: ${STORAGE_LOCAL_ROOT_PATH:.discodeit/storage}
    s3:
      access-key: ${AWS_S3_ACCESS_KEY}
      secret-key: ${AWS_S3_SECRET_KEY}
      region: ${AWS_S3_REGION}
      bucket: ${AWS_S3_BUCKET}
      presigned-url-expiration: ${AWS_S3_PRESIGNED_URL_EXPIRATION:600}

logging:
  level:
    root: info

server:
  port: 8080
  servlet:
    encoding:
      charset: UTF-8
      enabled: true
      force: true

# JWT 설정
jwt:
  access-token:
    secret: ${JWT_ACCESS_SECRET:change-me-access-secret-for-dev-only}
    expiration-ms: 900000          # 15분
  refresh-token:
    secret: ${JWT_REFRESH_SECRET:change-me-refresh-secret-for-dev-only}
    expiration-ms: 1209600000      # 14일

# true=비동기, false=동기
app:
  async:
    enabled: true
  cache: redis