# application-prod.yaml

server:
  port: 80

spring:
  config:
    activate:
      on-profile: prod

  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    properties:
      hibernate:
        ddl-auto: update
        format_sql: true
logging:
  level:
    root: info
    com.sprint.mission.discodeit: info
    org.hibernate.SQL: off
    org.hibernate.orm.jdbc.bind: off

jwt:
  access-token:
    secret: ${JWT_ACCESS_SECRET}
    expiration-ms: 900000
  refresh-token:
    secret: ${JWT_REFRESH_SECRET}
    expiration-ms: 1209600000

app:
  jwt:
    registry:
      type: redis
    max-active-count: 3
  messaging:
    type: kafka
  sse:
    type: redis